version: "3"
services:
    web:
        build: .runtime
        ports:
            - 80:8080
        volumes:
            - .:/var/www/html
    mariadb:
        image: mariadb:10.7
        ports:
            - 3306:3306
        environment:
            MYSQL_DATABASE: ocapstats
            MYSQL_ROOT_PASSWORD: rootpass
        volumes:
            - mariadbdata:/var/lib/mysql
            #- ./.sql/db.skeleton.sql:/docker-entrypoint-initdb.d/ocap-stats.skeleton.sql:ro
    adminer:
        image: adminer:4
        ports:
            - 8080:8080
volumes:
    mariadbdata: {}
